<app-sub-header title="Architecture"></app-sub-header>
<div class="container">
    <section class="description">
        <h2>An Architectural Marvel</h2>
        <p>
            Jagdish Temple stands as one of the finest architectural wonders of the Mewar dynasty, showcasing the exquisite Indo-Aryan architectural style. Constructed with adherence to Vastushastra, the Hindu architectural science, this three-storied temple is elevated on a raised platform, featuring magnificently carved pillars, spacious airy halls, and vibrantly painted walls adorned with intricately decorated ceilings.
        </p>
        <p>
            At the entrance, visitors are welcomed by two imposing stone elephant statues. An inscription engraved on a stone slab commemorates the contributions of Maharaja Jagat Singh, who oversaw the temple's establishment.
        </p>
        <p>
            Soaring to a height of 79 feet, the main temple dominates the city's skyline. Its summit is embellished with statues of horsemen, elephants, musicians, and dancers, reflecting the artistic expressions of the time. To reach the main temple, one ascends 32 steps, where a brass image of Garuda—a half-man, half-eagle figure—stands guard. Garuda holds significant importance in Hinduism, believed to protect the gates of Lord Vishnu's abode.
        </p>
        <p>
            Inside the main shrine, devotees encounter a remarkable four-armed image of Lord Vishnu, one of the temple's most striking features. The statue of God Jagannath, carved from a single piece of black stone, exemplifies devotion and artistry, often captivating visitors with its serene presence. Many believe this statue exudes a calming effect, inviting those in doubt to seek solace.
        </p>
        <p>
            Jagdish Temple attracts visitors from around the world, who come seeking answers to their prayers. Surrounding the main temple are smaller shrines dedicated to other deities, including Lord Ganesha, Lord Shiva, the Sun God, and Goddess Shakti.
        </p>
        <p>
            The temple's first two floors are adorned with 50 intricately carved pillars each, creating an astonishing visual spectacle. The mandap (prayer hall), porch, and pyramidal spire enhance the temple's overall beauty, making Jagdish Temple a true testament to architectural excellence and spiritual devotion.
        </p>
    </section>
</div>
<app-footer></app-footer>