.slide {
    padding-top: 7rem;

    .carousel-control-prev,
    .carousel-control-next {
        margin-top: 7rem;
    }

    .carousel-inner {
        .carousel-item {
            img {
                height: 13rem;
                width: 96%;
                margin: 0 auto;
                border-radius: 10px;
                object-fit: fill;
            }
        }
    }
}