<div class="container-fluid mt-3">
  <div class="news">
    <span>News</span> <input type="text">
  </div>

  <div class="category">
    <div class="row">
      <div class="col-12 card-container mt-3">
        <div class="col-4">
          <div class="card" routerLink="aarti-timing">
            <img class="card-img-top" src="diya.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"> Aarti Timings</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" routerLink="temple-timing">
            <img class="card-img-top" src="temple.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Temple Timings </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" routerLink="image-gallery">
            <img class="card-img-top" src="gallery.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Image Gallery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card-container mt-3">
        <div class="col-4">
          <div class="card" routerLink="architecture">
            <img class="card-img-top" src="musem.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Architecture of Jagdish temple</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" routerLink="history">
            <img class="card-img-top" src="history-book.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">History of Jagdish temple</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" routerLink="how-to-reach">
            <img class="card-img-top" src="address.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">How to reach Jagdish Temple</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card-container mt-3">
        <div class="col-4">
          <div class="card" routerLink="donation">
            <img class="card-img-top" src="donation.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Donation</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" routerLink="contact-us">
            <img class="card-img-top" src="communicate.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Contact Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
