<app-sub-header title="Photo Gallery"></app-sub-header>
<app-sub-header title="Photo Gallery"></app-sub-header>
<div class="gallery-container">
  <h3>Photo Gallery</h3>
  <div class="gallery">
    <div class="gallery-item">
      <img src="temple1.jpg" alt="Temple image 1">
    </div>
    <div class="gallery-item">
      <img src="temple2.jpg" alt="Temple image 2">
    </div>
    <div class="gallery-item">
      <img src="temple3.jpg" alt="Temple image 3">
    </div>
    <div class="gallery-item">
      <img src="temple4.jpg" alt="Temple image 4">
    </div>
    <div class="gallery-item">
      <img src="temple5.jpg" alt="Temple image 5">
    </div>
    <div class="gallery-item">
      <img src="temple6.jpg" alt="Temple image 6">
    </div>
    <div class="gallery-item">
      <img src="temple7.jpg" alt="Temple image 6">
    </div>
    <div class="gallery-item">
      <img src="temple8.jpg" alt="Temple image 6">
    </div>
    <div class="gallery-item">
      <img src="temple9.jpg" alt="Temple image 6">
    </div>
    <div class="gallery-item">
      <img src="temple10.jpg" alt="Temple image 6">
    </div>
  </div>
</div>
<app-footer></app-footer>
