<app-sub-header title="Temple Timings"></app-sub-header>
<div class="schedule-container">
  <h3>Jagdish Temple Udaipur Temple Timings
  </h3>
  <table class="schedule-table mt-4">
    <thead>
      <tr>
        <th>Day</th>
        <th>Timing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>4:15 am – 1:00 pm, 5:15 pm – 8:00 pm</td>
      </tr>
    </tbody>
  </table>
</div>


<app-footer></app-footer>
