.container-fluid {
    background-color: #082753;
    padding-top: 1rem;
    overflow: hidden;
    .darshan {
        border: 1px solid yellow;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        gap: 25px;

        img {
            width: 4rem;
            height:4rem;
            margin-left: 10px;
        }

        .details {
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;

            h4 {
                color: #FFBF00;
                font-size: 1.8rem;
            }

            span{
                color: white;
                font-size: 1rem;
            }
        }

        button {
            color: #FFBF00;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 1.2rem;

            &:hover{
                color: #edba21;
            }
        }
    }
}