<app-sub-header title="History"></app-sub-header>
<div class="container">
  <section class="description">
    <h2>History of Jagdish temple</h2>
    <p>
      The temple was built in 1651 under the reign of Maharana Jagat Singh who ruled Udaipur from 1628 to 1653. Jagdish
      Temple is the home of Lord Vishnu and an iconic example of Maru-Gujaru architecture of the era. The Maharana Jagat
      Singh spent 1.5 million rupees to enhance the structure of the Jagdish temple. The temple was renovated due to
      Mughal invasion.
    </p>
    <p>
      The Mughal invaders have destroyed many figurines and carvings in the temple as a part of revenge upon Rajput
      rulers. The Mughals took to vandalism to take out their anger and frustrations on their defeat by the hands of
      Mewar rulers.</p>
    <p>
      According to the old legends, it is believed that the marble slab in the Jagdish temple has magical powers. If you
      rub your shoulder, knees, or back on the marble, you can get a quick relief against the pain. For some people, it
      might be hard to believe, but the beliefs associated with religion cannot be questioned.
    </p>
  </section>
</div>
<app-footer></app-footer>
