<app-sub-header title="Donation"></app-sub-header>
<div class="donation-container">
    <div class="donation-info mt-5">
        <h1>Support Our Cause</h1>
        <pre class="text-center">Jagdish Temple</pre>
        <p class="text-center">Your contributions make a difference! If you have any questions about donations, please reach out to us.</p>
        <div class="contact-info">
            <h3>Contact Us:</h3>
            <ul>
                <li><i class="fas fa-mobile-alt"></i> 08387 987510</li>
                <li><i class="fas fa-mobile-alt"></i> 09309 265855</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>
