<app-sub-header title="Aarti Timings"></app-sub-header>
<div class="aarti-schedule-container">
  <h3>Jagdish Temple Udaipur Aarti Timings
  </h3>
  <table class="aarti-schedule-table mt-4">
    <thead>
      <tr>
        <th>Aarti</th>
        <th>Timings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mangla Aarti</td>
        <td>4:30 am to 5:00 am</td>
      </tr>
      <tr>
        <td>Dhoop Aarti</td>
        <td>7:45 am to 9:00 am</td>
      </tr>
      <tr>
        <td>Shringar Aarti</td>
        <td>10:15 am to 11:00 am</td>
      </tr>
      <tr>
        <td>Rajbhog Aarti</td>
        <td>11:30 am to 12:00 pm</td>
      </tr>
      <tr>
        <td>Gwal Aarti</td>
        <td>5:30 pm to 6:00 pm</td>
      </tr>
      <tr>
        <td>Sandhya Aarti</td>
        <td>6:30 pm to 7:45 pm</td>
      </tr>
      <tr>
        <td>Shayan Aarti</td>
        <td>8:15 pm to 8:45 pm</td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer></app-footer>
