<app-sub-header title="Contact Us"></app-sub-header>

<div class="contact-container">
    <div class="contact-schedule mt-5">
        <h1>Contact Us</h1>
        <pre class="text-center">Jagdish Temple</pre>
        <div class="contact-info">
            <p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> RJ State Highway 50, Udaipur, Rajasthan, 313001, India</p>
            <p><i class="fas fa-phone-alt"></i> <strong>Phone:</strong></p>
            <ul>
                <li><i class="fas fa-mobile-alt"></i> 08387 987510</li>
                <li><i class="fas fa-mobile-alt"></i> 09309 265855</li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>
